html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header{
    z-index:100;
}

.text-pink{
    color:#ff1448 !important;
}

.nav-link{
    letter-spacing:1px;
}

.nav-item{
    padding-left:8px;
}

.navbar-brand{
    font-size:25px;
}

.carousel-inner img{
    height:350px;
    background-position:center;
    background-size:contain;
}

footer{
    padding:20px 0;
}

.card {
    position: relative;
    height: 280px;
}


.card-body a {
    position: absolute;
    top: 0;
    right: 0;
    padding:10px;
    border:none;
}

.card img {
    max-height:200px;
    background-position: center;
    background-size: contain;
}

.fa-instagram {
    color: #e95950;
}

.fa-facebook {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}


.fa-youtube {
    color: #FF0000;
}


.app img{
    width:150px;
}

#recipe-list {
    top: 5rem; 
}

#recipe-list ul::-webkit-scrollbar{
    width:10px;
}

#recipe-list ul::-webkit-scrollbar-track {
   background-color:#ffffff;
}

#recipe-list ul::-webkit-scrollbar-track {
   background-color: #ff1448;
   border-radius:10px;
}


.recipe-item:hover {
    background-color: #0d243d;
    border-radius: 10px;
    cursor: pointer;
}

.recipe-item:hover a {
    color: #ffffff !important;
}