
@model IEnumerable<FoodOrder.Models.Recipe>

@foreach(var recipe in Model)
{
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4">
        <div class="shadow rounded p-2">
            <div class="card">
                <img src="@recipe.Image_url" class="card-img-top " />
                <div class="card-body">
                    <p class="card-title text-center fw-bold">@recipe.Title</p>
                    <button type="button" class="btn btn-sm btn-success  text-center fw-bold fs-6"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
                
            </div>
        </div>
    </div>

}
