

<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="row mb-2 ">
                <div class="col-10 text-center ui-widget p-3">
                    <input id="tags" type="text" placeholder="Tarif Ara" class="form-control" name="recipe" />
                </div>
                <div class="col-2 p-3">
                    <button type="submit" class="btn btn-sm btn-success p-2 w-100">Ara</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        var availableTags = [
            "Mantar",
            "Kabak",
            "Elma",
            "Muz",
            "Karadut",
            "kokonat",
            "Üzüm",
            "Kivi",
            "Mango",
            "Portakal",
            "Erik"
        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength: 3
        });
    });
</script>
