@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
            <div id="carouselExampleControls" class="carousel slide shadow rounded" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/carousel/p1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/p2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/p3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/p4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/p5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/p6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="my-2">
                <h2>Söyle gelsinle en iyi <span class="text-success fst-italic">yemekler</span> anında kapına gelsin</h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="text-dark fs-5">Lezzetli yemekler</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-heart text-danger mx-2 fs-4"></i></span>
                <span class="text-dark fs-5">Sağlıklı & Taze Besinler</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-primary mx-2 fs-4"></i></span>
                <span class="text-dark fs-5">Hızlı teslimat</span>
                <p class="py-2">30 dakika içinde yemeğin kapında</p>        
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 mb-3">
                <h2 class="mb-4">En Sevilen Yemekler</h2>
                <div class="fav-meal row">
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card " style="width: 18rem;">
                            <img src="/images/favmeal/p1.jpg" class="card-img-top h-75" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">Baklava</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card " style="width: 18rem;">
                            <img src="/images/favmeal/p2.jpg" class="card-img-top h-75" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">Kokoreç</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card " style="width: 18rem;">
                            <img src="/images/favmeal/p3.jpg" class="card-img-top h-75" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">Tantuni</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
